h2{
    font-family: fantasy;
    font-size:xx-large;
    text-align: center;
}

.coffeeDetails{
    width: 100%;  
    position: relative;
    text-align: center;
}

p{
    font-family:fantasy;
    font-size: large;
}


@media only screen and (max-width: 600px) {
    .coffeeDetails {
        background-color:rgb(124, 67, 26);
        width: 80%;
        font-size: 80%;
}
}